body {
	font-family: Arial;
	font-size: 10pt;
	padding: 0;
	margin: 0; 
}

body.popup {
	padding: 10px;
}

body.firefox {
	width: 750px;	
}

.link {
	color: #00E;
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;
}

hr {
	border: 0;
	color: #AAAAAA;
	background-color: #888888;
	height: 1px;
}

.hidden {
	display: none;
}

/*** OVERVIEW ***/

.overview {
	border: 1px solid #666666;
	width: 750px;
	border-collapse: collapse;
	margin-bottom: 5px;
}
.overview .header {
	background-color: #DDDDDD;
}

.overview th,
.overview td {
	border: 1px solid #666666;
	white-space: nowrap;
	padding: 2px 2px;
}

.disaster	{ background-color: #FF3838; color: #222222;}
.high		{ background-color: #FF9999; color: #222222;}
.average	{ background-color: #FFB689 ; color: #222222;}
.warning	{ background-color: #FFF6A5; color: #222222;}
.information	{ background-color: #D6F6FF; color: #222222;}
.unknown_trigger{ background-color: #DBDBDB; color: #222222;}
.normal,
.notclassified		{ background-color: #DBDBDB; color: #222222;}

/*** SETTINGS ***/

#settings {
	width: 435px;
}

#settings label {
	width: 130px;
	float: left;
}

#settings input[type="text"],
#settings input[type="password"] {
	width: 300px;
	border: 1px solid #666666;
}

#settings .buttons {
	text-align: right;
}

/*** HEADER ***/

#header {
	vertical-align: middle;
}

#header h1 {
	margin: 0;
	padding: 0 0 0 0;
	text-align: left;
	font-size: 14pt;
	color: #707070;
}

#logo {
	float: left;
	height: 22px;
	padding-right: 5px;
	padding-top: 1px;
}

/*** MENU ***/

#menu {
	text-align: right;
}
